<!DOCTYPE html>
<html>
  <head>
    <title>Manifold Quickstart!</title>
    <meta name="description" content="A cool thing using Manifold">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Manifold Quickstart
      </h1>
    </header>

    <main>
      
      <form class="logger-form">
        <p>Tell me everything you've ever wanted to log:</p>
        
        <input type="text" maxlength="100" placeholder="Logs logs logs!">
        <button type="submit">Submit</button>
      </form>
      
      <p class="checkout-those-logs">
        Remember to check out your logs in your LogDNA dashboard!
      </p>
    </main>

    <footer>
      <a href="https://glitch.com/edit/#!/remix/manifold-quickstart"><img src="https://cdn.glitch.com/2703baf2-b643-4da7-ab91-7ee2a2d00b5b%2Fremix-button.svg" alt="Remix on Glitch" /></a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
